:root{
    --dark-green: #102820;
    --hunter-green: #4C6444;
    --khaki: #CABA9C;
    --cream: #F2E3D5;
    --raw-umber: #8A6240;
    --cafe-noir: #4D2D18;
}

*{
    font-family: 'Times New Roman', 'Franklin Gothic Medium', Times, serif;
}

body{
    background-color: var(--raw-umber);
}

.header{
    text-align: center;
}

.library-text{
    margin-top: 0.5em;
    margin-bottom: 1em;
    color: var(--cream);
    font-size: 4.5rem;
}

dialog{
    background-color: var(--raw-umber);
    color: var(--cream);
    border: none;
    width: 50%;
    height: 90%;
    border-radius: 40px;
}

input{
    margin-bottom: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: var(--cream);
    border: none;
}

#read-question{
    margin-bottom: 20px;
}

#form-title, #form-author{
    width: 90%;
}

#form-pages-read, #form-pages-to-read{
    width: 90%;
}

#form-explanation-title{
    margin-top: 60px;
}

input[type="text"], input[type="number"]{
    font-size:1.5rem;
    border-radius: 40px;
    padding-left: 5%;
}

input[type="checkbox"]{
    transform: scale(4);
    margin-top: 5%;
    margin-bottom: 5%;
}

.all-pages{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.form-explanation{
    font-size: 1.5em;
    margin-bottom: 20px;
}

#user-input{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



#add-book-button > button{
    width: 100%;
    background-color: var(--cafe-noir);
    border: 0;
    color: var(--cream);
    padding: 1em;
    font-size: 2rem;
    border-radius: 40px;
    box-shadow: 2px 3px 5px black;
}

#add-book-button > button:hover{
    background-color: #cc895d;
    color: var(--cafe-noir);
    box-shadow: 4px 5px 5px black;
    cursor: pointer;
}

#book-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 50px 50px;
    margin-top: 50px;

}

.read-button{
    padding: 1em;
    color: var(--cream);
    background-color: var(--cafe-noir);
    border-radius: 40px;
}

.unread-button{
    padding: 1em;
    background-color: var(--hunter-green);
    color: var(--cream);
    border-radius: 40px;
}

.unread-button:hover{
    color: var(--cream);
    cursor: pointer;

}


.read-button:hover{
    color: var(--cream);
    cursor: pointer;

}


#confirmBtn{
    width: 60%;
    background-color: var(--cafe-noir);
    border: 0;
    color: var(--cream);
    padding: 1em;
    font-size: 1.5rem;
    border-radius: 40px;
    box-shadow: 2px 3px 5px black;
    margin-top: 10px;
}

#confirmBtn:hover{
    background-color: #cc895d;
    color: var(--cafe-noir);
    box-shadow: 4px 5px 5px black;
    cursor: pointer;

}

.card{
    height: 10em;
    text-align: center;
    position: relative;
    background-color: #cc895d;
    border: 3px solid var(--cafe-noir);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 55px;    
    color: var(--cream);
    font-size: 150%;
}



#add-book-close-button{
    background-color: var(--hunter-green);
    color: var(--cream);
    font-size: 4em;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    padding: 0;
    min-width: 50px;
    min-height: 50px;
    display: flex;
    float:right;
    margin:10px 10px 0 0;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    border: 2px solid var(--dark-green);
    margin-bottom: 5%;
}

#add-book-close-button:hover{
    cursor: pointer;
    background-color: var(--dark-green);
}



.delete-button{
    background-color: var(--hunter-green);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: block;
    float:right;
    margin:5px 5px 0 0;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    border: 2px solid var(--dark-green);
}

.delete-button:hover{
    background-color: var(--dark-green);
    cursor: pointer;
}


::backdrop {
    background-image: linear-gradient(
      45deg,
      var(--cafe-noir),
      var(--cream),
      var(--dark-green),
      var(--hunter-green),
      var(--raw-umber),
      var(--khaki)
    );
    opacity: 0.75;
  }


  @media (max-width: 480px) {
    #add-book-close-button {
        font-size: 2em; 
        padding: 0;
    }
}

